body{
    background-color: blanchedalmond;
    
   
}
.rodar{
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px; 
    margin: -60px 0 0 -60px;
}
.rodar:hover{
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}
@-webkit-keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}
@keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}